{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
    
       
           
      
</head>


<body>
    <div class="container-fluid">
        <div class="div4" style="margin-left: 300px;">
            <a class="navbar-brand" href="{% url 'index' %}">HOME</a>
            <a class="navbar-brand" href="{% url 'student' %}">STUDENT</a>
            <a class="navbar-brand" href="{% url 'teacher' %}">TEACHER</a>
            <a class="navbar-brand" href="{% url 'course' %}">COURSE</a>
            <a class="navbar-brand" href="{% url 'about' %}">ABOUT</a>
            
            <hr>
        </div>
        <img src="{% static '\images\projectimg1.jpeg' %}" style=" width: 1500PX; height: 600PX;">
    
    
</body>
</html>