     {%load static%}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=!, initial-scale=1.0">
        <title>Document</title>
        
        
    </head>
    <body>
        <div class="container">
            <div class="col-md-12">
            <div class="div1" style="margin-left: 300px;">
            <a class="navbar-brand" href="{% url 'index' %}">HOME</a>
            <a class="navbar-brand" href="{% url 'student' %}">STUDENT</a>
            <a class="navbar-brand" href="{% url 'teacher' %}">TEACHER</a>
            <a class="navbar-brand" href="{% url 'course' %}">COURSE</a>
            <a class="navbar-brand" href="{% url 'about' %}">ABOUT</a>
            
            
        </div>
        <hr>
               
            
    
        

    </div>
   
        
        
    </body>
    
    </html>
    