{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css"> 
    <title>Responsive Form</title>
    <style>
        body{
            background-image:url("https://thumbs.dreamstime.com/b/nlp-natural-language-processing-cognitive-computing-technology-concept-virtual-screen-193616673.jpg");
    opacity: 100;
        background-color:blanchedalmond;

        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        width: 100%;
    }
    </style>
</head>
<body>
    <div class="container" >
    <div class="div1" style="margin-left: 300px;">
        <a class="navbar-brand" href="{% url 'index' %}">HOME</a>
        <a class="navbar-brand" href="{% url 'student' %}">STUDENT</a>
        <a class="navbar-brand" href="{% url 'teacher' %}">TEACHER</a>
        <a class="navbar-brand" href="{% url 'course' %}">COURSE</a>
        <a class="navbar-brand" href="{% url 'about' %}">ABOUT</a>
        
        <hr>
    </div>
 
    <h2 style="color: rgb(89, 199, 243);margin-left: 230px;">Student Register form</h2>
        <div class="row">
            <div class="col-md-6" style="margin-left: 200px;">
                <form id="myForm"  action="{% url 'save' %}" method="post">
                    {% csrf_token %}
                    {% if msg1 %}
                    <div class="alert-success">
                        {{ msg1 }}
                    </div>
                    {% endif %}
                    
                    <input type="hidden" name="hid" {% if form_data %} value="{{form_data.id}}" {% endif %}>
                    {% if error %}
                    <div class="alert-danger">
                        {{ error }}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" {% if form_data %} value="{{ form_data.name}}" {% endif %}>
                        
                      
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" {% if form_data %} value="{{ form_data.email}}" {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="age">phone no:</label>
                        <input type="number" class="form-control" id="Age" name="age" {% if form_data %} value="{{ form_data.age}}" {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <textarea class="form-control" id="address" name="address" {% if form_data %} value="{{ form_data.address}}" {% endif %}></textarea>
                    <div class="form-group">
                        <label for="username">course</label>
                        <input type="text" class="form-control" id="username" name="username" {% if form_data %} value="{{ form_data.username}}" {% endif %}>
                    </div>
                    
                    {% if form_data %}

                    <button type="submit" class="btn btn-primary" id="submitBtn">Update</button> 
                    {% else %}
                    
                    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                    <button type="reset" class="btn btn-primary" id="resettBtn">Reset</button>
            
                    {% endif %}
                </form >       
            </div>
        
       
            </div>
            </div>
             
             <div class="col-md-6">
                <div id="result">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="div5" style="margin-left: 800px;">
        <a class="navbar-brand" href="{% url 'data' %}">student details</a></div>
    


    
    
</body>
</html>
